form {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: left;
    margin: 10px auto 0 auto;
  }
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .form-control input {
    outline: 0;
    padding: 4px 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
  }
  form .form-control input:focus {
    border: 1px solid #4299e1;
    box-shadow: 0px 0px 5px #4299e1;
  }
  form button {
    width: 100%;
    color: #fff;
    background: #4299e1;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  form .back-cta {
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #7242e1;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 4px 10px;
    text-decoration: none;
    font-size: 14px;
  }
  