.contact--child {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px auto;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 400px;
  border-radius: 4px;
  padding: 5px 10px;
}
.contact--user {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contactLink {
  text-decoration: none;
  color: #252525;
}
.contact--user__phone {
  color: #444;
  font-size: 12px;
  text-decoration: none;
}
.contact--image {
  width: 24px;
  height: 24px;
}

.contact--image img {
  width: 100%;
  border-radius: 100%;
}
.contact--btn {
  outline: 0;
  border: 1px solid #f56565;
  color: #fc8181;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: auto;
  font-size: 14px;
  background-color: #fff5f5;
  cursor: pointer;
}
.addContact {
  margin: 1rem auto !important;
  max-width: 400px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: #4299e1;
  border-radius: 4px;
  padding: 4px 10px;
  text-decoration: none;
}
.button-holder {
  display: flex;
  margin-left: auto;
}
.edit-btn {
  background-color: #4299e1;
  text-decoration: none;
  border: 1px solid #4299e1;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
#search {
  outline: 0;
  width: 400px;
  padding: 4px 4px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
}
#search:focus {
  border: 1px solid #4299e1;
  box-shadow: 0px 0px 5px #4299e1;
}
.warning {
  background-color:red;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6dfdf;
  height: 50px;
  margin: 16px auto;
  border-radius: 4px;
}
